@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using StudentManagement.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student List</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
          rel="stylesheet" />
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
</head>
<body >
    <form action="/admin/studentlists" method="post">
        <section class="vh-100">
            <div class="container-fluid">
                
                <div class="row d-flex justify-content-center align-items-start ">
                    @*<div class="col-md-12 col-xl-2">
                        <div class="mt-5">
                            <h5>Filter by:</h5>
                            <h6 style="margin-top:20px;">Major</h6>
                            @foreach (Major m in ViewBag.MList)
                            {
                                <input type="checkbox" name="major" value="@m.MajorId" /><span>@m.MajorName</span><br />
                            }
                            <h6 style="margin-top:20px;">Class</h6>
                            <select name="classid">
                                @foreach (Class m in ViewBag.CList)
                                {
                                    <option value="@m.ClassId">@m.ClassName</option>
                                }
                            </select>
                            <h6 style="margin-top:20px;">Gender</h6>
                            <input type="checkbox" name="gender" value="1" /><span>Male</span><br />
                            <input type="checkbox" name="gender" value="2" /><span>Female</span><br />
                            <input type="checkbox" name="gender" value="3" /><span>Orther</span><br />
                            <input type="submit" class="btn btn-primary mt-3" value="Filter" />
                        </div>
                    </div>*@
                    <div class="col-md-12 col-xl-12">

                        <div class="">
                            <div class="card-header p-3 d-flex">
                                <div>
                                    <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Student List</h5>
                                </div>
                                <div class="input-group mx-auto" style="width:300px;">
                                    <div class="form-outline">
                                        <input value="@ViewBag.Search" name="search" type="search" id="form1" class="form-control" />
                                        <label class="form-label" for="form1">Search by name</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                
                                <div class="ms-auto" style="width:min-content;">
                                    <input type="button" class="btn btn-primary" value="Add new" onclick="window.location='/admin/newstudent'" />
                                </div>

                            </div>
                            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">StudentID</th>
                                            <th scope="col">Student Name</th>
                                            <th scope="col">DOB</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Major</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Student s in ViewBag.SList)
                                        {
                                            <tr class="fw-normal">
                                                <th>@s.StudentId</th>
                                                <td class="align-middle">
                                                    @s.StudentName
                                                </td>
                                                <td class="align-middle">
                                                    @{DateTime d = (DateTime)s.StudentDob;
                                                        string date = d.ToString("MM/dd/yyyy");
                                                    }
                                                    @date
                                                </td>
                                                <td class="align-middle">
                                                    @s.StudentPhone
                                                </td>

                                                <td class="align-middle">
                                                    @s.StudentAddress
                                                </td>
                                                @if (s.ClassId == null)
                                                {
                                                    <td></td>
                                                }
                                                @foreach (Class c in ViewBag.CList)
                                                {
                                                    @if (s.ClassId == c.ClassId)
                                                    {
                                                        <td class="align-middle">
                                                            @c.ClassName
                                                        </td>
                                                    }

                                                }
                                                @if (s.MajorId == null)
                                                {
                                                    <td></td>
                                                }
                                                @foreach (Major m in ViewBag.MList)
                                                {
                                                    @if (s.MajorId == m.MajorId)
                                                    {
                                                        <td class="align-middle">
                                                            @m.MajorName
                                                        </td>
                                                    }

                                                }

                                                @if (s.GenderId == 1)
                                                {
                                                    <td>Male</td>
                                                }
                                                @if (s.GenderId == 2)
                                                {
                                                    <td>Female</td>

                                                }
                                                @if (s.GenderId == 3)
                                                {
                                                    <td>Orther</td>

                                                }
                                                <td><a href="/admin/editstudent/@s.StudentId">Edit</a></td>



                                            </tr>
                                        }



                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-warning btn-lg mt-5" onclick="window.location='/student/home'">Home</button>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>
      
</body>

<!-- MDB -->

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>
</html>

